@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("../font/Pretendard-Bold.subset.woff2") format("woff2"), url("../font/Pretendard-Bold.subset.woff") format("woff"), url("../font/Pretendard-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("../font/Pretendard-SemiBold.subset.woff2") format("woff2"), url("../font/Pretendard-SemiBold.subset.woff") format("woff"), url("../font/Pretendard-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("../font/Pretendard-Medium.subset.woff2") format("woff2"), url("../font/Pretendard-Medium.subset.woff") format("woff"), url("../font/Pretendard-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("../font/Pretendard-Regular.subset.woff2") format("woff2"), url("../font/Pretendard-Regular.subset.woff") format("woff"), url("../font/Pretendard-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard-Thin"), url("../font/Pretendard-Thin.subset.woff2") format("woff2"), url("../font/Pretendard-Thin.subset.woff") format("woff"), url("../font/Pretendard-Thin.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  box-sizing: border-box;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #2e56d8;
  outline-offset: -2px;
} /* 웹접근성 */
::-moz-selection {
  background: #d6b4ff;
}

::selection {
  background: #d6b4ff;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, smzall, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Pretendard", "Noto Sans KR", "Nanum Gothic";
  box-sizing: border-box;
  color: #2C2C2C;
  font-size: 17px;
  font-weight: 400;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  overflow-x: hidden;
  background-color: #fff;
}

body.overflow {
  overflow: hidden;
}

select, input, textarea, button {
  font-family: "Pretendard", "Noto Sans KR", "Nanum Gothic";
  font-size: inherit;
  vertical-align: middle;
  border: 0;
  border-radius: 0;
  font-weight: 500;
}

button {
  cursor: pointer;
  color: #2C2C2C;
}

select option {
  color: #2C2C2C;
}

select::-ms-expand {
  display: none;
} /* 화살표 없애기 for IE10, 11*/
input:not([type=checkbox], [type=radio], [type=file]) {
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

input.inp {
  height: 38px;
  padding: 17px 15px;
  font-size: 14px;
}

select, .select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 180px;
  border: 1px solid #ccc;
  padding: 3px 35px 3px 15px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #fff url("../images/sub/ico_select.png") no-repeat right 10px top 50%;
  background-size: 20px;
  font-size: 14px;
  color: #2C2C2C;
}

/* ie scrollbar */
/* chrome scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 50px;
}

.f_scroller {
  width: 100%;
  overflow-y: auto;
  /* firefox */
}
.f_scroller::-webkit-scrollbar {
  width: 9px;
  height: 10px;
}
.f_scroller::-webkit-scrollbar-track {
  background: #eee;
}
.f_scroller::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 0;
}

.hidden {
  text-indent: -99999px;
  display: inline-block;
}

/* skipNavigation */
.skip-to-content {
  position: absolute;
  margin: 0 auto;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
}
.skip-to-content a {
  position: absolute;
  width: 100%;
  font-size: 0;
  top: -50px;
}
.skip-to-content a:active, .skip-to-content a:focus-visible {
  display: block;
  font-size: 12px;
  padding: 20px;
  top: 0;
  text-align: center;
  color: #fff;
  font-weight: 600;
  background: #1d1d1d;
  outline: 0;
}

.blind {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

input[type=text]:read-only, input[type=tel]:read-only, input[type=email]:read-only, input[type=number]:read-only {
  background-color: #f5f5f5;
  color: #767676;
}

input[type=text], input[type=password], input[type=tel], input[type=email], input[type=number], input[type=email] {
  box-sizing: border-box;
  height: 38px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  font-weight: 500;
  width: auto;
}

input::placeholder {
  color: #8A949E;
}

textarea::placeholder {
  color: #8A949E;
}

.readonly {
  background-color: #f5f5f5 !important;
  color: #999 !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*익스 초기화*/
input[type=text]::-ms-clear, input[type=password]::-ms-clear {
  display: none;
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 14px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 14px;
  color: #2C2C2C;
  resize: none;
}

p, li, span, input, a { /*transform: skew(-0.03deg);*/
  line-height: 120%;
}

.sub_contents p { /*transform: skew(-0.03deg);*/
  line-height: 160%;
}

.skew {
  transform: skew(-0.03deg);
  display: inline-block;
}

img {
  vertical-align: top;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

caption {
  text-indent: -99999px;
  height: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

legend {
  display: none;
}

/*아이폰 인풋 버튼 둥근테두리 그림자 제거*/
input[type=button] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/*크롬 검정 테두리 지우기*/
/* a:focus-visible, input:focus-visible, select:focus-visible, button:focus-visible, textarea:focus-visible {outline: none;} */
/*인풋 박스 백그라운드*/
.required {
  color: #d71921;
  position: relative;
  font-weight: 400;
  vertical-align: middle;
}
.required::before {
  content: "※";
  font-weight: 700;
  margin-right: 0;
  color: #D71921;
  font-size: 14px;
  top: -2px;
  margin-left: 3px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.inp-tit {
  display: inline;
}
.inp-tit .required {
  background-color: #d71921;
  display: inline-block;
  width: 3px;
  height: 3px;
  text-indent: -99999px;
  border-radius: 10px;
  position: absolute;
  right: -6px;
  top: -1px;
}

.checkbox {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  margin-bottom: 10px;
}
.checkbox input[type=checkbox], .checkbox .checkbox input[type=radio] {
  padding: 0;
  height: 1px;
  width: 1px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  height: 0;
  white-space: nowrap;
  cursor: pointer;
}
.checkbox label {
  color: #2C2C2C;
  font-weight: 500;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 30px;
}
.checkbox label::before {
  content: "";
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #999;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 9px;
  width: 18px;
  height: 18px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  top: 0;
  position: absolute;
  left: 0;
}
.checkbox.type2 label::before {
  border-radius: 0;
}
.checkbox .right label {
  padding-right: 34px;
  position: relative;
}
.checkbox .right label::before {
  margin-right: 0;
  position: absolute;
  right: 0;
  top: 4px;
  left: auto;
}

.checkbox input[type=checkbox], .checkbox input[type=radio] {
  padding: 0;
  height: 1px;
  width: 1px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  height: 0;
  white-space: nowrap;
  cursor: pointer;
}

.checkbox input[type=checkbox]:checked + label::before {
  background: #fff url("../images/sub/ico_check.png") no-repeat center;
  background-size: 12px;
}

.checkbox input[type=checkbox]:focus-visible + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  display: inline-block;
}

/* 작은 체크박스*/
.checkbox.type2 label::before {
  margin-right: 5px;
  width: 18px;
  height: 18px;
  background: #fff url("../images/sub/ico_check2.png") no-repeat center;
  background-size: 12px;
  opacity: 0.7;
}
.checkbox.type2 input:checked + label::before {
  opacity: 1;
}

/* 기타 */
/* .checkbox input[type="text"], .radio input[type="text"]{height: 28px;}  */
/* 큰 체크박스*/
.checkbox.big label {
  color: #2C2C2C;
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-left: 40px;
}
.checkbox.big label::before {
  content: "";
  background-color: #fff;
  border: 1px solid #999;
  vertical-align: middle;
  margin-right: 12px;
  width: 28px;
  height: 28px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  top: -4px;
}
.checkbox.big input:checked + label::before {
  background-size: 19px;
}

/* 텍스트 없을 때*/
.checkbox.none, .radio.none {
  margin-right: 0;
}
.checkbox.none label, .radio.none label {
  font-size: 0;
  padding: 0;
}
.checkbox.none label::before, .radio.none label::before {
  margin-right: 0;
  position: relative;
  top: 0;
}

.checkbox input[type=checkbox]:disabled + label::before {
  background-color: #eee;
  border-color: #ccc;
}

.radio {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px;
}
.radio input[type=radio] {
  padding: 0;
  height: 1px;
  width: 1px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  height: 0;
  white-space: nowrap;
  cursor: pointer;
}
.radio input[type=radio]:checked + label::before {
  border: 6px solid #455763;
}
.radio input[type=radio]:focus-visible + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  display: inline-block;
}
.radio label {
  display: inline-block;
  height: 100%;
  line-height: 100%;
  color: #2C2C2C;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 0 0 0 30px;
}
.radio label::before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #999;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 9px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  top: -2px;
  position: absolute;
  left: 0;
}

/* 큰 라디오 */
.radio.big label::before {
  width: 28px;
  height: 28px;
}
.radio.big input:checked + label::before {
  border: 8px solid #455763;
}

/* .radio.type2{}
.radio.type2 input:checked + label::before{background: #fff; border: 4px solid #3c05a5;}  */
.radio.right {
  margin-right: 10px;
}
.radio.right label {
  padding-right: 34px;
  position: relative;
}
.radio.right label::before {
  margin-right: 0;
  position: absolute;
  right: 0;
  top: 4px;
  left: auto;
}

.checkbox.mar0 label::before, .radio.mar0 label::before {
  margin-right: 0;
}



/* .checkbox input:checked + label::after { content: ''; display: block; position: absolute; top: 2px; left: 9px; width: 6px; height: 14px; border: solid #0079bf; border-width: 0 2px 2px 0; transform: rotate(45deg);} */
/* IE10+ focus */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* Enter your style code */
  .checkbox input:focus + label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    display: inline-block;
  }
}
#accessibility {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  font-size: 1.15em;
  top: -10.5em;
  left: 0;
  z-index: 99999999999;
}
#accessibility a:focus-visible, #accessibility a:active {
  position: absolute;
  padding-top: 0.5em;
  width: 100%;
  height: 2em;
  top: 10.5em;
  left: 0;
  z-index: 99999999999;
  text-align: center;
  overflow: visible;
  clip: unset;
}
#accessibility a.on {
  background-color: #666;
}

.newin {
  position: relative;
  display: block;
  padding-right: 25px;
}

.newin::after {
  content: "";
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  width: 17px;
  height: 17px;
  background: url("../images/common/ico_newpage.svg") center no-repeat;
  vertical-align: middle;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
}

img {
  font-size: 15px;
  line-height: 120%;
}


.wrap {
  width: 100%;
  height: 100%;
}

.inner {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  width: 94%;
  box-sizing: border-box;
  padding: 0 0;
}

.pc-block {
  display: block;
  line-height: 160%;
}

.wow {
  visibility: hidden;
}

/* input/textarea.inp 지우기 버튼 동적 생성 (ej) */
.form-control-clear {
  position: relative;
  pointer-events: auto;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  background: #555;
  text-indent: -99999px;
  border-radius: 100px;
  box-sizing: border-box;
  padding: 0;
  float: right;
  /* margin-top: 10px; */
  margin-left: -76px;
  /* margin-right: 10px; */
}

.form-control-clear { z-index: 1; position: absolute; top: 50%; transform: translateY(-50%); }
.form-control-clear::before, .form-control-clear::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 9px;
  height: 1px;
  background: #fff;
  border-radius: 2px;
  /* transform-origin: center; */
  margin-left: -4px;
}
.form-control-clear::before{
  transform: rotate(45deg);
}
.form-control-clear::after {
  transform: rotate(-45deg);
}

.form-control-clear.hidden {
  display: none;
}
/* input/textarea.inp 지우기 버튼 동적 생성 (ej) */

@media screen and (max-width: 1100px) {
  /* .inner {width: 90%;} */
}
@media screen and (max-width: 768px) {
  .pc-block {
    display: inline;
  }
  /* .inner { width: 92%} */
  body {
    font-size: 14px;
  }
  p.basic {
    font-size: 14px;
  }
  select {
    padding: 0 15px;
    padding-right: 30px;
    background-position: right 12px top 50%;
    min-width: auto;
  }
  .checkbox label {
    font-size: 14px;
  }
  table.board-list {
    table-layout: auto;
  }
}
@media screen and (max-width: 650px) {
  /* select:not(.ui-datepicker-year):not(.ui-datepicker-month){padding: 0 10px;} */
}
@media screen and (max-width: 320px) {
  select {
    min-width: auto;
    margin: 0;
  }
}