.header {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.headerInner {
  max-width: 1440px;
  width: 94%;
  padding: 12px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 260px;
}
.logoLink {
  display: block;
}

.depth1 {
  display: flex;
  gap: 40px;
}
.depth1Item {
  position: relative;
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #3b3b3b;
}
.depth1Item.active .depth2 {
  display: block;
}
.depth1Link {
  display: block;
  padding: 13px 10px;
}
.depth1Toggle {
  display: inline-block;
  padding: 13px 10px;
  vertical-align: middle;
}
.depth1Toggle::after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(/images/common/ico_accordion.png) center no-repeat;
}
.depth1Icon {
  display: inline-block;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.depth1Icon.faq {
  background-image: url("/images/common/ico_faq.png");
}
.depth1Icon.bell {
  background-image: url("/images/common/ico_bell.png");
}
.depth1Icon.download {
  background-image: url("/images/common/ico_down.png");
}

.depth2 {
  position: absolute;
  left: 0;
  padding: 16px 10px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  z-index: 1;
  display: none;
}
.depth2Item {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #3b3b3b;
  text-align: left;
}
.depth2Item + .depth2Item {
  margin-top: 16px;
}
.depth2Link {
  display: block;
  text-align: center;
}
.depth2Link.lottie {
  width: 100%;
  height: auto;
  padding: 0;
  vertical-align: top;
}

dotlottie-wc {
  display: block;
  vertical-align: top;
  box-sizing: border-box;
}

.topButton {
  position: sticky;
  left: calc(100% - 90px);
  bottom: 60px;
  width: 40px;
  height: 40px;
  background: #f5f5f5 url(/images/common/ico_arrow.png) center no-repeat;
  border-radius: 50%;
  transition: 0.2s ease;
}
.topButton:hover {
  background-color: #ebebeb;
}

.contents {
  padding: 40px 0 64px;
  min-height: calc(100vh - 122px - 192px);
}

.pageTitle {
  font-size: 40px;
  font-weight: 700;
}

.footer {
  padding: 40px 0 24px;
  background: #f5f5f5;
  border-top: 1px solid #dddddd;
  color: #3b3b3b;
}

.descWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLeft {
  display: flex;
  gap: 24px;
  align-items: end;
}

.addressList {
  font-size: 0;
}

.adressItem {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
}

.adressItem:last-child::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #3b3b3b;
  margin: -3px 10px 0;
  vertical-align: middle;
}

.adressCall {
  font-weight: 600;
}

.copyrightWrap {
  padding-top: 16px;
  margin-top: 40px;
  border-top: 1px solid #cdd1d5;
}

.copyright {
  font-size: 15px;
  color: #676767;
}