// MAIN PAGE
.inner{
    max-width: 1460px;
}

// 검색영역
.searchWrap {
    max-width: 952px;
    width: 100%;
    margin: 0 auto;
}
.inputBox {
    position: relative;
}
.srchInpIcon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
input[type="text"].mainSearch {
    width: 100%;
    height: 52px;
    padding-left: 74px;
    padding-right: 56px;
    border: 1px solid #0b50d0;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 17px;
}
.keywordBox {
    margin-top: 16px;
}
.mainSearchBtn {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    background: url(/images/common/ico_srch-b.png) center no-repeat;
}
.keywordText {
    display: inline-block;
    margin-right: 16px;
    font-size: 17px;
    font-weight: 700;
    color: #1e2124;
}
.keywordList {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
}
.keywordLink {
    display: block;
    padding: 8px 20px;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    color: #1e2124;
    border: 1px dashed #633ac3;
    border-radius: 40px;
    font-size: 14px;
}

// 비주얼영역
.visual {
    margin: 0 auto;
    width: 480px;
    height: 210px;
}
.visualWrap {
    display: block;
    margin: 64px auto;
    text-align: center;
}
.mainVisual {
    display: inline-block;
    margin: 0 auto;
}
.visualText {
    margin-top: 20px;
    font-size: 36px;
    line-height: 150%;
}
.visualBold {
    font-weight: 700;
}
.visualNum {
    font-size: 64px;
    font-weight: 100;
    color: #345ae4;
}

// 폐기물리스트
.wasteList {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.wasteItem {
    width: 100%;
    max-width: calc(100% / 3 - 16px);
    border-radius: 20px;
}
.wasteLink {
    position: relative;
    display: block;
    padding: 20px;
    height: 100%;
    border-radius: 20px;
    background: #F5F5F5;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: 0.3s ease;
    text-align: center;

    &:hover{
        box-shadow: 0px 0px 4px 0px #787878;
    }
}
.wasteInfo{
    margin-top: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.wasteTitle {
    font-size: 24px;
    font-weight: 700;
    transition: .3s ease;
}
.wasteDesc {
    margin-top: 8px;
    font-size: 17px;
    color: #585858;
    line-height: 150%;
}
.viewMore {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #3B3B3B;
    border-radius: 50%;
    &Icon {
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        &.arrow {
            background-image: url(/images/main/ico_shortcut.svg);
            transition:
                opacity 0.25s,
                transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
            opacity: 1;
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
        }
        &.plus {
            background-image: url(/images/main/ico_plus-w.png);
            transition:
                opacity 0.25s,
                transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
            opacity: 0;
            transform: translate(-50%, -50%) rotate(90deg) scale(0.3);
        }
    }
}
.wasteLink {
    &.bulky:hover {
        background-color: #F2FBFF;
        border-color: #1672B1;
        .wasteTitle {
            color: #1672B1;
        }
    }

    &.household:hover {
        background-color: #FAFFF4;
        border-color: #27770B;
        .wasteTitle {
            color: #27770B;
        }
    }

    &.commercial:hover {
        background-color: #FFFBF8;
        border-color: #B15900;
        .wasteTitle {
            color: #B15900;
        }
    }

    &.industrial:hover {
        background-color: #F6F2FF;
        border-color: #310F80;
        .wasteTitle {
            color: #310F80;
        }
    }

    &.construction:hover {
        background-color: #FFF6F0;
        border-color: #6E513E;
        .wasteTitle {
            color: #6E513E;
        }
    }

    &.hazardous:hover {
        background-color: #EEEEEE;
        border-color: #2C2C2C;
        .wasteTitle {
            color: #2C2C2C;
        }
    }

}



.wasteLink:hover .viewMore {
    background-color: #3B3B3B;
}
.wasteLink:hover .viewMoreIcon.arrow {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-90deg) scale(0.3);
}
.wasteLink:hover .viewMoreIcon.plus {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
}
